/*Universal selector*/
* {
    font-family: monospace, serif, sans-serif, cursive;
    font-size: large;
}


/*Type selectors*/
img {
    height: auto;
    width: 800px;
}

h3 {
    color: rgb(255, 145, 20);
    margin-top: 45px;
}

h1 {
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*class selectors*/
.textShrink {
    height: auto;
    width: 900px;
}

.largeFont {
    font-size: 23px;
}

.fancy-even {
    color: rgb(3, 194, 219);
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px
}

.button{
    /*background-color: rgb(250, 192, 0);*/
    background-color: rgb(60, 187, 181, 0.85);
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 200px;
    margin-top: 50px;
}

.anchor {
    color: white;
    font-weight: bold;
    font-family: monospace,sans-serif,serif,Verdana, Geneva, Tahoma;
    font-size: 20px;
    text-indent: 2px;
}


.magical-span {
    background-color: rgb(253, 0, 0, 0.6);
    border-radius: 2px;
    color: white;
    padding-left: 3px;
    padding-right: 3px
}