/*Universal selector*/
* {
    font-family: monospace;
    font-size: large;
}


/*Type selectors*/
img {
    height: auto;
    width: 800px;
}

h3 {
    color: rgb(255, 145, 20);
}


/*class selectors*/
.textShrink {
    height: auto;
    width: 900px;
}

.largeFont {
    font-size: 23px;
}