/*Universal selector*/
* {
    font-family: monospace;
    font-size: large;
}


/*Type selectors*/
img {
    height: auto;
    width: 800px;
}



/*class selectors*/
.textShrink {
    height: auto;
    width: 900px;
}

.largeFont {
    font-size: 23px;
}